<article class="comment">
   <div class="comment__content-wrapper">
    <h3 class="comment__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
            {{ include.name }}
    </h3>
    <div class="comment__date">
      {% if include.date %}
            <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.date | date: "%B %d, %Y at %I:%M %p" }}</time>
      {% endif %}
    </div>
    <div>{{ include.message | markdownify }}</div>
  </div>
</article>